.action-bar-wrapper {
    position: fixed;
    display: flex;
    background-color: var(--color-dark-grey);
    width: 100%;
    padding: 10px 30px
}

.action-bar-link {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 10px;
}

.action-bar-link:hover {
    cursor: pointer;
}



.action-bar-link p {
    font-size: 16px;
    margin-left: 8px;
}