.right_panel_wrapper {
  flex-grow: 1;
  min-height: 100vh;
  background-color: white;
  padding: 100px 80px
}

.right_panel_wrapper .top_detail {
  display: flex;
  flex-direction: row;
}

.carousel_image {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.right_panel_wrapper .dev_tools_wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .right_panel_wrapper {
    min-height: 0;
  }
}

@media only screen and (max-width: 700px) {
  .carousel_wrapper {
    display: none;
  }
}