.about-page-wrapper {
    background-color: white;
}

/* Header */
.about-page-wrapper .social-links {
    margin-top: 40px;
}

.about-page-wrapper .social-links a {
    color: black;
    font-size: 40px;
    margin: 0 15px;
    color: rgb(177, 177, 177);

    transition: all 0.2s;
}

.about-page-wrapper .social-links a:hover {
    color: var(--color-black);
}

/* Content */
.about-content-wrapper {
    margin-top: 50px;
}

.about-content-wrapper p {
    font-size: 16px;
}

.about-content-wrapper .core {
    display: flex;
    margin-top: 55px;
}

.about-content-wrapper .core img {
    border-radius: 99%;
    width: 250px;
    height: 250px;
    margin-right: 7%;
}

.about-content-wrapper .core .details .title{
    font-size: 16px;
    font-weight: bold;
}

.about-content-wrapper .core .details .desc {
    margin-top: 5px;
    font-size: 16px;
}

.link-yellow {
    color: var(--color-dark-yellow);
    font-style: italic;
    font-weight: bold;
}

.thumbnails_wrapper {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    .about-page-wrapper {
        text-align: center;
    }
    .about-content-wrapper .core {
        flex-direction: column;
        align-items: center;
    }

    .about-content-wrapper .core img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .thumbnails_wrapper {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .about-page-wrapper {
        text-align: center;
    }
    .about-content-wrapper .core {
        flex-direction: column;
        align-items: center;
    }

    .about-content-wrapper .core img {
        width: 150px;
        height: 150px;
    }

    .about-page-wrapper .social-links a {
        font-size: 25px;
        margin: 0 8px;
    }
}