.button1_wrapper {
    display: flex;
    border: white solid 1px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;

    transition: all 0.3s;
}

.button1_wrapper:hover {
    border-radius: 0px;
    border: var(--color-dark-yellow) solid 1px;
}

.button1_wrapper img{
    margin-right: 10px;
}

.button1_wrapper p {
    font-size: 12px;
    font-weight: bold;
}