.project-item {
    display: flex;
}

.project-item img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.project-item .spacing {
    width: 80px;
    height: 30px;
}

.summary-wrapper .title {
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.summary-wrapper .type {
    color: rgb(112, 112, 112);
    font-size: 11px;
    font-style: italic;
    margin-top: 3px;
}

.summary-wrapper .desc {
    color: black;
    font-size: 15px;
    margin-top: 16px;
}

.summary-wrapper .skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.view_more_btn {
    display: flex;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    width: fit-content;

    transition: all 0.2s;
}

.view_more_btn p {
    margin-right: 5px;
    transition: all 0.2s;
}

.view_more_btn,
.view_more_btn p {
    color: rgb(121, 121, 121);
}

.view_more_btn:hover,
.view_more_btn:hover p {
    color: black;
}

.view_more_btn:hover p {
    margin-right: 10px;
}



@media only screen and (max-width: 950px) {
    .project-item img {
        width: 300px;
        height: 150px;
    }
}
  
@media only screen and (max-width: 800px) {
    .project-item {
        display: block;
        text-align: center;
    }

    .summary-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        order: 2;
    }

    .summary-wrapper .skills_wrapper {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .project-item img {
        order: 0;
    }
}